.menubar-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.menu-item {
  padding: 0 8px;
  height: 24px;
  display: flex;
  align-items: center;
  cursor: default;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

/*



*/
