.dock {
  height: 9vh;
  background-color: rgba(245, 245, 245, 0.578);
  width: fit-content;
  border-radius: 10px;
  position: absolute;
  bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 7px;
  gap: 15px;
  justify-self: center;
}
