@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Text-Regular.otf") format("opentype");
}

* {
  font-family: "SF Pro Display";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
}
* {
  user-select: none;
}
img {
  pointer-events: none;
}
